<ion-content >
  <!-- <cdk-virtual-scroll-viewport itemSize="56" minBufferPx="900" maxBufferPx="1350" > -->
    <!-- Your existing content and configurations -->
    <div class="login-section ion-padding">
      <div class="heading ion-padding">
        <h1>Selamat Datang Di Aplikasi Pendaftaran Siswa</h1>
      </div>
      <form >
        <div class="action-button ion-padding">
          <ion-button routerLink="/login-admin" class="login-button" size="large">Log in Admin</ion-button>
          <p>or?</p>
          <ion-button
            class="register-button"
            fill="outline"
            routerLink="/login"
            size="large"
            >Log in User</ion-button
          >
        </div>
      </form>
    </div>
  <!-- </cdk-virtual-scroll-viewport> -->
 </ion-content>
