<ion-content >
  <!-- <cdk-virtual-scroll-viewport itemSize="56" minBufferPx="900" maxBufferPx="1350" > -->
    <!-- Your existing content and configurations -->
    <div class="login-section ion-padding">
      <div class="heading ion-padding">
        <h1>Apa Anda Yakin Keluar dari Aplikasi Pendaftaran Siswa</h1>
        <p>Log Out to continue</p>
      </div>
      <form (submit)="onLogout()" >
        <div class="action-button ion-padding">
          <ion-button type="submit" class="login-button" size="large">Log out</ion-button>
        </div>
      </form>
    </div>
  <!-- </cdk-virtual-scroll-viewport> -->
 </ion-content>
